extends layout

block content
  h1 My Bill
  table
    thead
      tr
        th No
        th Name
        th Tax Code
        th Type
        th Refundable
        th Price
        th Tax
        th Amount
    tbody 
      each item, i in data.bills
        tr
          td #{i+1}
          td #{item.name}
          td #{item.type_id}
          td Type
          td No
          td #{item.price}
          td #{item.tax}
          td #{item.price + item.tax}
    tfoot

      
